:root {
    /*renk değişlenleri*/
    --text-color: #fff;
    --bg-color: #000;
    --main-color: #ffa343;
    /*Font değişkenleri*/
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 20px;
    /*Animasyonlar*/
    --transition: all 0.5s ease;
}


/*RESET START*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

/*RESET END*/

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

section {
    padding: 20px 150px;
}

.home-text h5 {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 10px;
    letter-spacing: 10px;
}

/*SPECİAL*/


.button {
    display: inline-block;
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 15px 30px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: var(--transition);
}

.button:hover {
    background-color: transparent;
    border: 2px solid var(--text-color);
    transform: translate(10px);
}

.section,
footer {
    padding: 70px 20px;
}


/*SPECİAL*/

/* HEADER START */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
    right: 0;
    backdrop-filter: blur(35px);

}

.logo {
    font-size: var(--h2-font);
    color: var(--text-color);
    font-weight: 700px;
}

.span {
    color: var(--main-color);
}


.navbar a {
    color: var(--text-color);
    margin: 15px 22px;
    font-weight: 400;
    font-size: var(--p-font);
    transition: var(--transition);
}

.navbar a:hover {
    color: var(--main-color);
    font-size: large;
}

.header-right {
    display: flex;
    align-items: center;

}

.header-right a:first-child {
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;
}

.header-right a {
    color: var(--text-color);
    margin-right: 10px;
    margin-left: 5px;
    transition: var(--transition);
    font-size: 20px;
}

.header-right a:hover {
    color: var(--main-color);
    transform: translateY(-5px);

}

#menu-btn {
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 5;
    display: none;
}

/* HEADER END */


/*SECTİON START*/
.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/images/Background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}



.home-text h1 {
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #979797;
}

/* featured start*/

.feature-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    overflow: hidden;

    margin-bottom: 20px;
}

.row-img img {
    width: 100%;
    display: block;
    cursor: pointer;
    transition: var(--transition);
}

.feature-content h4 {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
    margin: 0 auto;
}

.row-img img:hover {
    transform: scale(1.5);
}

/*feature END*/


/*HOLİDAY */
.holiday {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    align-items: center;

}

.main-text {

    font-size: var(--p-font);
    color: var(--main-color);
}

.holiday-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
}

.holiday-text p {
    width: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.holiday-img img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

/*HOLİDAY */

/*POPÜLER TURLAR ALANI*/
.center-text {
    text-align: center;

}

.center-text h2 {
    font-size: var(--h2-font);
    font-weight: 800;
}

.tour-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 3rem;


}


.box {
    position: relative;
}

.box img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    transition: var(--transition);
    filter: brightness(70%);
    cursor: pointer;
}

.box img:hover {
    filter: brightness(90%);
}

.box h6 {
    position: absolute;
    bottom: 150px;
    left: 40px;
    font-size: 25px;
    font-weight: 600;
    color: #979797;
}

.box h4 {
    position: absolute;
    bottom: 30px;
    left: 50px;
    font-size: 25px;
    font-weight: 600;
    color: #979797;
}

.center-btn {
    text-align: center;
    margin-top: 2rem;

}

/*POPÜLER TURLAR ALANI*/

/*KÜLTÜRLER ALANI */
.culture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9rem;
    align-items: center;

}

.culture-img img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}

.culture-text h5 {
    color: var(--main-color);
    font-size: 25px;
    letter-spacing: 10px;

}

.culture-text h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 25px;

}

.culture-text p {
    font-size: var(--p-font);
    line-height: 1.2;
    color: #fff;
    margin-bottom: 35px;
    font-weight: 500;
}

/*KÜLTÜRLER ALANI */

.newsletter-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.newsletter-text h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 15px;
}

.newsletter-content form {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.newsletter-content form input:first-child {
    padding: 17px;
    background-color: #202020;
    border-radius: 5px;
    color: var(--text-color);
}

/* FOOTER ALANI*/
footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;

}

.footer-col{
    display: flex;
    flex-direction: column;
}

.footer-col h3{
    font-size:20px;
    font-weight:600;
    margin-bottom: 15px;
}

.footer-col a{
    color: #ffffffab;
    transition:var(--transition);
}
.social a{
    display: inline-flex;
    background-color:#202020 ;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px;
    font-size: 20px;
}


.footer-col a:hover{
    transform: translateX(-5px);
    color: var(--text-color);
}




/* FOOTER ALANI*/





















/* RESPONSİVE SETTİNG START */
@media(max-width:1700px) {}

@media(max-width:1200px) {

    :root {
        --h1-font: 4rem;
        --h2-font: 2rem;
        --p-font: 15px;

    }

}

@media(max-width:1050px) {
    .navbar {
        position: absolute;
        background-color: var(--bg-color);
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: var(--transition);


    }

    .newsletter-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .newsletter-content form {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        gap: 1rem;


    }

    .navbar a {
        color: #979797;
        font-size: 2.2rem;
        font-weight: 400;
    }

    .navbar.open {
        left: 0;
    }

    #menu-btn {
        display: block;

    }
}


@media(max-width:800px) {
    .holiday {
        grid-template-columns: 1fr;
    }

    .culture {
        grid-template-columns: repeat(2, 1fr);
    }



    .newsletter-content form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}


/* RESPONSİVE SETTİNG END */